body{
  font-family:'Roboto', sans-serif;
  display:flex;
  margin-left:5%;
  margin-right:5%;
  padding:0;
  background-color:rgb(90, 116, 190);
}
*{
  margin:0;
  padding:0;
  list-style:none;
  text-decoration:none;
}
.sidebar{
  position: fixed;
  left:-250px;
  width: 270px;
  height: 100%;
  background:#E6E6FA;
  transition: all .5s ease;
  overflow: auto;
  /*Firefox*/
  scrollbar-width: thin;
  scrollbar-color: #ebe8e8 rgb(90, 116, 190);
}
/*Google*/
/* Estilo da barra de rolagem */
.sidebar::-webkit-scrollbar {
  width: 0.3vw;
}
/* Cor de fundo da barra de rolagem */
.sidebar::-webkit-scrollbar-track {
  background-color: #ebe8e8;
}

/* Cor do "thumb" (a parte móvel da barra de rolagem) */
.sidebar::-webkit-scrollbar-thumb {
  background-color:rgb(90, 116, 190);
}

/* Cor do "thumb" ao passar o mouse sobre ele */
.sidebar::-webkit-scrollbar-thumb:hover {
  background-color:rgb(90, 116, 190);
}


.sidebar header{
  font-size: 18px;
  color: white;
  padding-left: 5vh;
  line-height: 70px;
  background:rgb(90, 116, 190);
  user-select: none;

}
.sidebar ul a {
  display: block;
  height: 100%;
  width:100%;
  line-height: 65px;
  font-size: 16px;
  color: rgb(90, 116, 190);;
  padding-left: 0px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;

}
ul li:hover a{
  padding-left:0.8vw;
}

.sidebar ul a i{
  margin-right:16px;
  margin-bottom: 0%;
}
#check{
  position: absolute;
  display:none;
}
label #btn, label #cancelar{
  position: absolute;
  cursor: pointer;
  background:rgb(90, 116, 190);
  border-radius: 3px;
}
label #btn{
  left:40px;
  font-size:35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s ease;
}
label #cancelar{
  z-index:1111;
  left:-195px;
  font-size: 30px;
  color:white;
  padding:4px 9px;
  transition: all .5s ease;

}
#check:checked ~ .sidebar{
  left:0;
}
#check:checked ~ label #btn{
  left:250px;
  opacity:0;
  pointer-events: none;

}
#check:checked ~ label #cancelar{
  left:22%;
  position: fixed;
 
}

#check:checked ~ .corpo{
  margin-left: 250px;
  transition: all .5s ease;
}
section{
  background-position:center;
  background-size:cover;
  height:100vh;
}
h1, p, h3, h2,h4{
  color:white;

}

a{
  text-decoration:none;
  color:white;
  
}
.corpo{
  margin-top: 6%;
}

table{

  width: 80%;
}
td{
  border: 1px solid rgb(109, 24, 179);
  color:white;
  padding: 0.8%;
}
tr:hover{
  background-color:rgb(90, 116, 190);
}
figcaption{
  color: #E6E6FA;
  font-size: 12px;
}
